/*Feuille de style  CSS <link /> à décommenter et utiliser si le style de la page doit être lié 
Effacer le style écrit directement sur la page html du site ci dessous --> 
<!-- <link rel="stylesheet" type="text/css" href="style_uor.css" /> --> */


/* couleur arrière-plan du body crème */
/* Police sans empattement Helvetica pour le body */

body {
	background-color: #eeeeee; 
	font-family: Helvetica;
}
/* couleur arrière-plan container */
.container {
	background-color: #f5f4ed;
}
/* propriétés menu  */
.m {
	width: 70%; 
	float: left; 
	height :100%;
    }


/* propriétés titre balise h1  */

h1 {
	clear: left ;
	text-align:  center;
	margin-top:10 ;
    }

/* titre insepcteur de l'année centré */
#titre-ds {
	text-align:  center;
    }
/* classe vie-pro  utilisation d'un clear both, le flottant de cet élément ne peut flotter des 2 côtés*/
.vie-pro{
	clear: both;
    }
/* ligne hr entre les intitulés expérience, compétences, formation, références */
hr {
	width:70% ; 
	margin-left:0;
     }
/* Propriétés du aside qui flotte à droite des rubriques expérience, compétences, formation*/
 #aside_cote{
 	width:auto; 
 	float : right ; 
 	height:300px; 
 	text-align: justify; 
 	margin: 30px; 
 	padding: 10px;"
 }

/* marge auto pour le div des articles */
 #articles {
 	margin: auto; 
 	 }
		/* Style appliqué au nav des balises  ul, li et a */

		nav ul {
  			list-style-type: none;
  			margin: 0;
  			padding: 0;
  			overflow: hidden;
			}
/*# float à gauche avec une marge de 15px entre les mots du menu */
		nav li {
			margin-right: 15px;
			float: left;
			}
/* la taille des mots du menu sont mis à 1.3 em avec une couleur équivalent à rgb (24, 24, 24) 
   et un padding bas de 3 px*/
		nav a {
  			font-size: 1.3em;
    		color: #181818;
    		padding-bottom: 3px;
    
			}
		
		/* Un effet hover surligné pour le menu */
		nav a:hover
		{
    		color: #760001;
    		border-bottom: 3px solid #760001;
		}

/* css pour la photo du cv un border et un effet ombré. L'image flotte à droite et à une marge haute de 10 */
		a.starskyflotte img
		{
			border: 4px solid black ;
			box-shadow: 5px 5px 0px black;
			float:  right;
			margin-top: 10;
		}

		
/* div de classe presentation est centré avec clear des 2 côtés*/
		.presentation {
			text-align: center ;
			clear: both;
		}

/* Ajout d'une lettrine comme vu en cours page 80  */
		.lettrine { font-size: 400%;
               float: center;
               font : 4em 'Trebuchet MS', sans-serif;
    			margin: -0.20em 0px -0.20em 0px;
  				}
/* L'article de classe art1, précédé du titre en h2 Mes références, est centré. Il n'y a pas de clear */
	  .art1{
	  	clear: none; 
	  	text-align: center;"
	  	}
/* Pour la section de classe wrap qui inclut les références, une phrase puis 3 petits blocs sur le capitaine Dobbey, 
Hutch et Huggy la largeur, hauteur et marge sont automatiques */ 
 section.wrap {
	width: auto;
    height: auto;
	margin: auto;
}

/* Pour les id idobbet, ihutch et ihuggy, j'utilise 2 float left puis un float right
   overflow-wrap: break-word;  qui indique au navigateur s'il peut ou non faire la césure à l'intérieur d'un mot pour éviter le dépassement d'une chaîne qui serait trop longue afin qu'elle ne dépasse pas de la boîte.
   https://developer.mozilla.org/fr/docs/Web/CSS/overflow-wrap*/
#idobbet {
  float: left;
  width:auto;
  height:  200px;
  background: lightgreen;
  inline-size: 33.1%;
  overflow-wrap: break-word;
  border : 2px solid yellow ; 
  display: inline-block; 
  font-size: 14px;

}

#ihutch {
  float: left;
  width: auto;
  height:  200px;
  background: lightblue;
  inline-size: 33%;
   overflow-wrap: break-word;
   border : 2px solid yellow ; 
   display: inline-block;
   font-size: 14px;
}

#ihuggy {
  float: right;
  width: auto;
  height:  200px;
  background: lightcyan;
  inline-size: 33%;
  overflow-wrap: break-word;
  border : 2px solid orange ; 
  display: inline-block;
  font-size: 14px;

}
/* text-underline-position: Ne fonctionne pas pour souligner j'utilise directement dans le footer la balise <ins> proposé dans le cours*/
/* .pied-page{
	text-underline-position:  under;
} */ 

/* Pour le footer, centré, hauteur 50 px  */ 
#pied {
	clear : right; 
	 height: 50px;  
	 text-align: center; 
	 padding-top: 2.5%; 
	 border : 2px; 
}
	
